/* Formato Generales del sitio */
html {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --gris: #737373;
    --fondo-barra: #1b64c4;
    --texto-barra: #111110;
    --Comprar: #D2E117;
    --fondo-redes: #535450;
    --boton-hover: #05206b;
    --blanco: #dadada;
    --negro: #000000;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.header {
    display: block;
    text-align: center;
    background-color: var(--fondo-barra);
    height: 10rem;
}
.ubicacion{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ubicacion i {
    align-items: center;
    padding: 1rem;
    color: var(--blanco);
    font-size: 1.5rem;
}

.ubicacion p {
    color: var(--blanco);
    font-size: 0.8rem;
}
.logo {
    font-size: 1.5rem;
    font-family: "Rubik Scribble";
    font-weight: 700;
    font-style: italic;
    margin-left: 2rem;
}
.logo h1 {
    color: var(--blanco);
    margin: 0;
}
span{
    font-weight:  bold;
    color: rgb(10, 6, 233);   
}
.usuario-carrito {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    /*height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;*/

}

.fa-cart-shopping{
    cursor: pointer;
    color: var(--blanco);
    transition: all .3s ease;
   /* height: 2rem;
    width: 2rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;*/
}

.fa-user{
    cursor: pointer;
    color: var(--blanco);
    transition: all .3s ease;
    margin-right: 2rem;
}


.contenedor-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion li {
    text-align: center;
}
.navegacion  a {
    font-size: 1.8rem;
   /* text-align: center;*/
   color: var(--texto-barra);
}
.navegacion a:hover{
    padding: 0.3rem;
    font-size: 1.5rem;
}

main {
    background-image: url(/imagenes/comercio.jpg);
    height: 30rem;
    width:  100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.productos {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem auto;



}
.productos-descripcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        padding: 2rem;
        border: 1px solid #ccc;
        border-radius: 5px;
}
.productos-descripcion h3 p {
    font-size: 0.8rem;
    
}

.agregarAlCarrito {
    background-color: var(--Comprar);
    color: var(--texto-barra);
    font-size: 15px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
}
.cantidad{
    background-color: var(--Comprar);
    color: var(--texto-barra);
    font-size: 15px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
}

.contenido_imagen {
    height: 10rem;
    width: 10rem;
    border: solid var(--fondo-barra);
    ;
}

.footer {
    background-color: var(--fondo-redes);
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
    align-items: center;
}
.redesSociales {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem auto;

}

.fa-facebook {
    color: rgb(0, 89, 255)
}
.fa-square-instagram {
    color:deeppink
}
.fa-whatsapp {
    color: rgb(0, 252, 42);
}
.fa-envelope {
    color: dodgerblue;
}

/**********Medias Query*************/

@media (min-width:515px ) {
    .navegacion{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--fondo-barra);
        padding: 0.8rem;
    }
    .navegacion a{
        color: var(--blanco);
    }
    .navegacion a:hover{
        background-color: var(--boton-hover);
        padding: 0.5rem;
        font-size: 2rem;
    }
    
    .navegacion{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--fondo-barra);
    }
}
/*formulario ******/
.boton{
    background-color: var(--fondo-barra);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .8rem;
    width: 90%;
    text-align: center;
    border: none;
}

section h2{
    text-align: center;
}

.formulario{
    background-color: var(--gris);
    width: min( 60rem, 100%);/*Utiliza el valor mas pequeño**/
    margin: 0 auto;
    padding: 2rem;
}
.formulario fieldset{
    border: none;

}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--Comprar);
}

.contenedor-campos{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
    grid-template-rows: auto auto ;
    }

    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }


.campo{
    margin-bottom: 1rem;

}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
    font-size: 2rem;
}
.campo textarea{
    height: 20rem;

}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.w-sm-100{
    width: 100%;
}
@media (min-width: 768px){
    .w-sm-100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}